.sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.divider4 {
  width: 15%;
  margin: 0 auto 30px;
  border: 0;
  height: 1px;
  background: #474af0;
}

.slides {
  margin-top: 4px;
  position: relative;
  display: flex;
  max-width: 75%;
  height: auto;
  justify-content: center;
  align-items: center;
}
  
.slide {
  width: 100%;
  max-height: 50vh;
  display: block;
  margin: 0 auto;
}

.slide-hidden {
  display: none;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.indicators {
    display: flex; 
    position: relative;
    bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;  
  border-radius: 50%;
}

.indicator-inactive {
    background-color: grey;
} 


.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controls h1{
  padding-top: 5px;
}

.service-title {
  margin: 0 1rem;
}



.description {
  margin-top: 1rem;
  width: 60%;
}

  
.arrow {
  position:absolute;
  /* filter: drop-shadow(0px 0px 5px #555); */
  width: 2rem;
  height: 2rem;
  color: #474af0;
  background: none;
  border: none;
  font-size: 2rem;
}

.arrow-left{
  left: 26%;
}

.arrow-right{
  right: 26%
}

.arrow:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  
  .arrow {
      display: none;
  }

  .service-title {
    margin: 0 0.5rem;
  }

  .indicators{
    top: 0.5rem;
  }
  
}


.workflow{
  text-align: center;
  justify-content: center;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.workflow h1{
  margin: 5px 5px 2px;
  color: black;
  padding-bottom: 5px;
  font-size: 2.5rem;
  font-weight: bold;
}

.divider5 {
  width: 37%;
  margin: 0 auto 10px;
  border: 0;
  height: 1px;
  background: #474af0;
}

.workflow p{
  line-height: 1.5em;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color:#34435E
}

.workflow p:before {
  content: counter(section);
  position: absolute;
  border-radius:50%;
  padding: 10px;
  height:1.25em;
  width: 1.25em;
  background-color: #474af0;
  text-align: center;
  line-height: 1.25em;
  color: #ffffff;
  font-size: 1em;

}

.workflow p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.workflow p:nth-child(odd):before{
  left:100%;
  margin-left: -20px
}

.workflow p:nth-child(even) {
  border-left: 3px solid;
  padding-right:0;
}

.workflow p:nth-child(even):before{
  right:100%;
  margin-right: -20px;

}

.workflow p:first-child{
  border-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.workflow p:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 768px) {
  .workflow{
    min-width: 200px;
    max-width: 350px;
  }
}